/* This is my CSS */
/* restore default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nova Mono', monospace;
}
a {
  color: #333333
}
a:hover {
  color: hotpink;
}


/* all flex content */
.container-fluid {
  /*margin-top: 24px;
  margin-right: 15px;
  margin-left: 15px;*/
}


/* navigation */

.header-container {
  height: 96px;
  background-color: grey;
}

.home-logo {
  border-radius: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.home-menu {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .home-menu {
    display: none;
  }
}

.menuLinkText {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
}

.social-icons {
  margin-top: 40px;
  margin-left:auto;
}

/* home main page */
.quiznotice {
  min-height: 96px;
  background-color: black;
  color: lightgrey;
  text-align: center;
}

.quizlink {
  font-size: 18px;
  color: lightgrey;
}

.mp-background-img {
  background: url("../img/collage-home1.png");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blockquote {
  margin: 120px auto;
  text-align: center;
}

/* home about panel */

.home-about-row {
  min-heignt: 300px;
  background-color: grey;
}

.home-about-column {
  text-align: center;
  padding-top: 25px;
}

.home-about-text {
  margin: auto 90px;
  padding-top: 10px;
  padding-bottom: 35px;
}

/* CArousel */
.caroselIMGcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: grey;
}

/*POEMS*/
.poemhomePIC {
  height: 70%;
  width: auto;
}

/*Poems Search*/
#myInput {
  /*background-image: url('/css/searchicon.png');*/ /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 30%;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a p {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  width: 70%;
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-left: 30%;
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


/* Poems_3 Search*/
#searchinput {
  width: 70%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 30%;
}

#poemset {
  /* Remove default list styling */
  /*text-align: right;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px; /* Increase font-size */
  text-align: right;

}

#poemset li {
  border: 1px solid #ddd; /* Add a border to all links */
  width: 70%;
  margin-left: 30%;
  background-color: white;
  margin-bottom: 12px;
}

#poemset p {
  width: 70%;
  margin-left: 30%;
  background-color: white;
  opacity: 72%;
  display: none; /*collapsed by default*/
}

#poemset br {
  display: none;
}

/* always hides keywords */
#poemset a {
  display: none;
}

#poemset li:hover {
  color: hotpink; /* Add a hover effect to all links, except for headers */
}
#poemset p:hover {
  color: black;
}

.poembanner {
  height: 32px;
}


/* END Poems Search */

/* Collapsible Code */
.poemcontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2sease-out;
}

.collapsible {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  width: 70%;
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-left: 30%;
}

.active, .collapsible:hover {
  background-color: #eee;
}

/*Poems scroll*/
.poemsBody {
  background-color: grey;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: grey;
border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
width: 12px;
background-color: grey; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.scroll {
position: relative;
overflow-y: scroll;
height: 711px; }

.card-body {
  text-align: right;
  padding-left: 125px;
}



/* Chapbooks */
.chapbookicon {
  padding: 12px 18px;
}

.rightsided {
  text-align: right;
}


/* zine CSS */
/*
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
} */

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:800px;
	height:700px;
	left:-400px;
	top:-200px;
}

.flipbook-viewport .page{
	width:400px;
	height:700px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook-viewport .double{
	width:800px;
	height:700px;
	background-size:100% 100%;
}

.buffer {
  margin: 600;
  height: 200;
}



/* simple magnifier from w3 */
.img-magnifier-container {
  position: relative;
  padding: 20;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 160px;
  height: 80px;
}

.img-magnifier-glass-long {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 250px;
  height: 80px;
}



/* SHOP */
.shopnotice {
  background-color: hotpink;
  min-height: 96px;
  text-align: center;
}

.shopsidebar {
  padding-top: 15px;
}

.item {
  align-items: center;
  align-content: center;
}

#checkoutbutton {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.removebutton {
  background-color: grey;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  float: right;
}

/* always hides keywords */
.item p {
  display: none;
}



/* chapquiz */
.quiz-head-background {
  background: url("../img/analoganalog.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qcontainer {
  background-color: grey;
}

.highlightAnswer {
  background-color: lightgrey;
}

#submitbutton {
  background-color: grey;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
}


/*MOBILE*/
.mobileicons {
  margin-top: 40px;
  text-align: center;
}

.mobile-menu-items {
  height: 66px;
  background-color: grey;
  margin-left:10px;
}

.mobile-menu-item {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
}

/* Mothers Day */
.mothersdaybanner {
  background-color: purple;
  text-align: center;
}

.md-background-img {
  background: url("../img/mothersday.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mothersdayparallax {
  color: purple;
  background-color: white;
  opacity: 50%;
  padding: 10px 20px;
}

.mothersdayletter {
  min-height: 325px;
  background-color: grey;
}


/* speciic poems */

#o001 {
  background: url("../img/fireplacesmall.jpg");
}

#o002 {
  background: url("../img/delimbedhallwaysmall.jpg");
}

#o003 {
  background: url("../img/technobabysmall.jpg");
}

#o004 {
  background: url("../img/spotssmall.jpg");
}

#o005 {
  background: url("../img/riverripplessmall.jpg");
}

#o006 {
  background: url("../img/outhouseeyesmall.jpg")
}

#o007 {
  background: url("../img/technopriestsmall.jpg");
}

#o008 {
  background: url("../img/tubbitssmall.jpg");
}

#o009 {
  background: url("../img/tealpotsmall.jpg");
}

#o010 {
  background: url("../img/redbluesmall.jpg")
}

#o011 {
  background: url("../img/hotelessentialssmall.jpg");
}

#o012 {
  background: url("../img/windmillsmall.jpg");
}

#o013 {
  background: url("../img/rockettrailsmall.jpg");
}

#o014 {
  background: url("../img/eyecavesmall.jpg");
}

#o015 {
  background: url("../img/darkgardensmall.jpg");
}

#o016 {
  background: url("../img/shesmokesseashellssmall.jpg");
}

#o017 {
  background: url("../img/bloodycandelabooksmall.jpg");
}

#o018 {
  background: url("../img/hotelessentialssmallreversed.jpg");
}

#o019 {
  background:url("../img/darksquirrelsmall.jpg");
}

#o020 {
  background: url("../img/alienwallsmall.jpg");
}

#o021 {
  background: url("../img/fireplacesmall.jpg");
}

#o022 {
  background: url("../img/prayingmantissmall.jpg");
}

#o023 {
  background: url("../img/pinkmothsmall.jpg");
}

#o025 {
  background: url("../img/newtonproblemsmall.jpg");
}

#o026 {
  background: url("../img/cupoftintsmall.jpg");
}

#o027 {
  background: url("../img/poemsartworkLANDINGresized.jpg");
}

#o028 {
  background: url("../img/riverripplessmall.jpg")
}

#o029 {
  background: url("../img/deweybulbsmall.jpg");
}

#o030 {
  background: url("../img/echoimagesmall.jpg");
}

#o031 {
  background: url("../img/cavernetsmall.jpg");
}

#o032 {
  background: url("../img/delimbedhallwaysmall.jpg");
}

#o033 {
  background: url("../img/steplesssmall.jpg");
}

#o034 {
  background: url("../img/sinkbitssmall.jpg");
}

#o035 {
  background: url("../img/houseofleavessmall.jpg");
}

#o036 {
  background: url("../img/deweybulbsmall.jpg");
}

#o037 {
  background: url("../img/shellsmall.jpg");
  background-position: bottom;
}

#o038 {
  background: url("../img/pulmonologysmall.jpg");
}

#o039 {
  background: url("../img/sickskysmall.jpg")
}

#o040 {
  background: url("../img/hauntsmall.jpg");
}

#o041 {
  background: url("../img/windmillsmall.jpg")
}

#o043 {
  background: url("../img/creepyguardiansmall.jpg");
}

#o044 {
  background: url("../img/delimbedhallwaysmall.jpg")
}

#o045 {
  background: url("../img/greenchristmassmall.jpg")
}

#o046 {
  background: url("../img/homecollage1.2small.jpg")
}

#o047 {
  background: url("../img/hauntsmall.jpg")
}

#o048 {
  background: url("../img/houseofleavessmall.jpg")
}

#o049 {
  background: url("../img/alienwallsmall.jpg")
}

#o050 {
  background: url("../img/metalbouquetsmall.jpg")
}

#o051 {
  background: url("../img/soldiersmall.jpg")
}

#o052 {
  background: url("../img/stonebalancesmall.jpg")
}

#o053 {
  background: url("../img/whiterosesmall.jpg")
}

#o054 {
  background: url("../img/cavernetsmall.jpg")
}

#o055 {
  background: url("../img/echoimagesmall.jpg")
}

#o056 {
  background: url("../img/aboutLANDINGsmall.jpg");
  background-position: bottom;
}

#o057 {
  background: url("../img/pinkmothsmall.jpg")
}

#o058 {
  background: url("../img/crosstobearsmall.jpg")
}

#o059 {
  background: url("../img/deweybulbsmall.jpg")
}

#o060 {
  background: url("../img/autoCBTsmall.jpg")
}

#o062 {
  background: url("../img/actatmadCOVER.jpg")
}

#o063 {
  background: url("../img/mothersdaysmall.jpg");
  background-position: bottom;
}

#o064 {
  background: url("../img/sinkbitssmall.jpg")
}

#o065 {
  background: url("../img/shellsmall.jpg");
}

#o066 {
  background: url("../img/steplesssmall.jpg")
}

#o067 {
  background: url("../img/shesmokesseashellssmall.jpg")
}

#o068 {
  background: url("../img/technopriestsmall.jpg")
}

#o069 {
  background: url("../img/fireplacesmall.jpg")
}

#o070 {
  background: url("../img/sickskysmall.jpg")
}

#o071 {
  background: url("../img/riverripplessmall.jpg")
}
