/* this is main.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nova Mono', monospace;
  /*background-color: #752515;
  color: #aa9cee;*/
}

body {
  font-family: 'Nova Mono', monospace;
}

/* top fixed contact info */
.top-header-container {
  z-index: 2;
  position: fixed;
  background-color: #752515;
}

.top-header {
  color: #aa9cee;
  height: 35px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  vertical-align: middle;
}

@media screen and (max-width: 1180px) {
  .top-header {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  .top-header {
    font-size: 16px;
  }
}

@media screen and (max-width: 426px) {
  .top-header {
    height: 70px;
  }
}

.top-header a {
  text-decoration: none;
  color: #999999;
  margin-left: 6px;
}

.top-header.col-xs-12 {
  text-align: center;
}

.top-header-phone {

}

.top-header-social {
  text-align: left;
  align-content: space-between;
}




/* menu */
.homelogo-logo {
  border-radius: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.menu {
  flex-wrap: nowrap!important;
  vertical-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding 0.15s linear;
  background-color: #752515;
  color: #aa9cee;
}

.menu a{
  text-decoration: none;
}

.menu.menupad {
  padding-top: 0px;
  padding-bottom: 0px;
  transition: padding 0.3s linear;
}

.homemenu {
  margin-left: 3%;
  margin-right: 9%;
}

.homemenu.row {
  margin-left: 10px;
}

.homemenu-item {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 18px;
}

@media screen and (min-width: 1700px) {
  .homemenu-item {
    font-size: 27px;
  }
}


/* dropdown menus */
.menu-dropdown-container {
  position: relative;
  display: flex;
  background-color: rgba(117,37,21,1);
}

.menu-dropdown-container a {
  text-decoration: none!important;
}

.menu-dropdown-container a:hover {
  color: lightgrey;
}

#menu-dropdown1 {
  display: none;
  padding: 20px;
  background-color: #aa9cee;
  color: #752515;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}


/* mobile menu */
.mobile-menu-row {
  padding-left: 30%;
  padding-right: 30%;
  transition: height 0.3s;
  background-color: #752515;
  color: #aa9cee;
}

.mobile-menu-items {
  /* background-color */
  padding: 5%;
  border-top: 3px solid #aa9cee;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mobilemenuitem {
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: height 0.1s;
  /* color */
}

.mobilemenuitem :hover {
  color: black;
}

.mobiledrop {
  padding-left:  10%!important;
}







/*basic classes */
.blockquote {
  margin: 120px auto;
  text-align: center;
}







/* simple magnifier from w3 */
.img-magnifier-container {
  position: relative;
  padding: 20;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 160px;
  height: 80px;
}

.img-magnifier-glass-long {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 250px;
  height: 80px;
}

.img-magnifier-glass-longer {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 275px;
  height: 100px;
}
