/*CHAPBOOKS*/
.chapHOME {
  background-color: #752515;
}

.quiznotice {
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.chaprow {
  padding-top: 25px
}

.chaprow-text {
  text-align: right;
  color: yellow;
}

/*Carousel*/
/* might be helpful for sliding later: https://matemarschalko.medium.com/css-only-interactive-swipeable-image-carousel-3a38afe3da58 */
#chapCarousel {
  width: 100%;
  padding-top: 250px;
}

@media screen and (min-width: 1700px) {
  #chapCarousel {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.carousel-item img {
  margin-top: 60px;
  max-width: 80%
}

.carousel-item h3 {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.carousel-item h1 {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.carousel-item p {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.carousel-item button {
  margin-bottom: 100px;
}


/*CHAPQQUIZ*/
.quiz-head-background {
  background: url("../../img/chapquiz/analoganalog.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qcontainer {
  background-color: #752515;
  padding-top: 20px;
  color: yellow;
}

.submit-background {
  background-color: #752515;
  padding-top: 20px;
  padding-bottom: 50px;
}

.highlightAnswer {
  background-color: white;
  opacity: 75%;
  color: black
}
