/* matters page css */



.home-parallax {
  background: url("../../img/menu/collage-home1.png");
  padding-top: 150px;
  min-height: 950px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.blurred-back {
  min-height: 80px;
  font-weight: 600;
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(0,0,0,0.8);
  color: #aa9cee;
}

.blurred-back p {
  margin-left: 10%;
  margin-right: 10%;
}

.blurred-back h1 {
  margin-left: 5%;
  margin-right: 5%;
}

.blurred-back h2 {
  margin-left: 15%;
  margin-right: 15%;
}

.blurred-back h3 {
  margin-left: 15%;
  margin-right: 15%;
}

.blurred-back h4 {
  margin-left: 15%;
  margin-right: 15%;
}


@media screen and (min-width: 1440px) {
  .blurred-back {
    margin-top: 400px;
    margin-left: 50px;
  }
}

/* @media screen and (max-width: 426px) {
  .blurred-back {
    font-size: 16px;
  }
} */



.gift-class {
  color: #CAD7B2;
}





/* CSS */
.button-59 {
  align-items: center;
  background-color: #838689;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  /* font-family: Inter,sans-serif; */
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #aa9cee;
  color: #aa9cee;
  fill: #aa9cee;
}

.button-59:active {
  border-color: #aa9cee;
  color: #aa9cee;
  fill: #aa9cee;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
