* {
  box-sizing: border-box;
}

.musicbody {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  background-image: url("../../img/music/collageness.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.music-player{
    width: 350px;
    height: 950px;
    border-radius: 20px;
    background: rgba(117, 37, 21, 0.68);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    padding: 215px 30px;
    color: #aa9cee;
}



.music-name,
.artist-name{
    text-align: center;
}

.music-name{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.artist-name{
    font-size: 20px;
}



.disk{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('../../img/music/shimmoresnowmigrant.jpeg');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
}


.disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #752515;
}




.song-slider{
    width: 100%;
    position: relative;
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #7fc8a9;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #d5eebb;
}

.current-time,
.song-duration{
    font-size: 14px;
}

.song-duration{
    position: absolute;
    right: 0;
}




.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #752515;
    cursor: pointer;
    border: none;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.08);
    transition: .5s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}



.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


.play-btn.pause{
    animation: pulse 2s linear infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}


.btn{
    width: 40px;
    height: 40px;
    background: #d5eebb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}


@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}



.disk{
    // previous styles
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play{
    animation-play-state: running;
}


.shuffle{
  width: 14%;
  display: block;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10%;
}






.scrollbar-ripe-malinka::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: grey;
border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
width: 12px;
background-color: grey; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.scroll {
position: relative;
overflow-y: scroll;
height: 121px; }

.card-body {
  text-align: right;
  padding-left: 125px;
}







.song-list {
  /* Remove default list styling */
  /*text-align: right;*/
  list-style-type: none;
  padding: 25px 0px 0px 0px;
  margin: 25px 0px 0px 0px;
  font-size: 14px; /* Increase font-size */
  text-align: right;
  background-image: url("../../img/music/collageness.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.song-list li {
  border: 1px solid #ddd; /* Add a border to all links */
  width: 70%;
  margin-left: 30%;
  background-color: grey;
  margin-bottom: 12px;
  opacity: 90%;
  radius: 50%;
}
