/*POEMS*/
.poemhomePIC {
  height: 70%;
  width: auto;
}

/*Poems Search*/
#myInput {
  /*background-image: url('/css/searchicon.png');*/ /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 30%;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a p {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  width: 70%;
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-left: 30%;
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


/* Poems_3 Search*/
#searchinput {
  width: 70%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 30%;
}

#poemset {
  /* Remove default list styling */
  /*text-align: right;*/
  list-style-type: none;
  padding: 25px 0px 0px 0px;
  margin: 25px 0px 0px 0px;
  font-size: 14px; /* Increase font-size */
  text-align: right;
  background: url("../../img/poems/poemLANDING.jpeg");''
  background-position: center;
  background-size: cover;
}

#poemset li {
  border: 1px solid #ddd; /* Add a border to all links */
  width: 70%;
  margin-left: 30%;
  background-color: grey;
  margin-bottom: 12px;
  opacity: 90%;
}

#poemset p {
  width: 70%;
  margin-left: 30%;
  background-color: grey;
  opacity: 72%;
  display: none; /*collapsed by default*/
}

#poemset br {
  display: none;
}

/* always hides keywords */
/*
#poemset a {
  display: none;
}
*/

#poemset li:hover {
  color: yellow; /* Add a hover effect to all links, except for headers */
}
#poemset p:hover {
  color: black;
}

.poembanner {
  height: 32px;
}


/* END Poems Search */


/*Poems scroll*/
.poemsBody {
  background-color: #752515;
  padding-top: 200px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: grey;
border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
width: 12px;
background-color: grey; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.scroll {
position: relative;
overflow-y: scroll;
height: 711px; }

.card-body {
  text-align: right;
  padding-left: 125px;
}

/* always hides keywords */
.item p {
  display: none;
}

/* Collapsible Code */
.poemcontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2sease-out;
}

.collapsible {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  width: 70%;
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-left: 30%;
}

.active, .collapsible:hover {
  background-color: #eee;
}
